#form1{
    width: 50%;
    margin-left: 47%;
    margin-top:5%;
    border:2px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    text-align: center;
}
#form1 fieldset
{
    border: 0px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.first-fieldset label
{
    text-align: left;
    margin-top:10px;
    
}
.first-fieldset input
{
    height: 25px;
    border-radius: 10px;
}
.first-fieldset input[type="button"]
{
    margin-top: 10px;
    background-color: black;
    color: white;
    height: 30px;
    font-size: large;
}
.second-fieldset
{
    border-top: 1px solid rgb(147, 142, 142);
}
.second-fieldset img
{
    width:25px;
}
.second-fieldset button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
}
.second-fieldset button span
{
    text-align:center;
    font-size: large;
    margin-left: 15px;
    margin-top: 0px;
}